---
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Postlist from "@components/postlist.astro";
import Layout from "@layouts/Layout.astro";
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
---

<Layout title="Video">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Video</Fragment>
      <Fragment slot="desc">I am Creator, Producer, Developer and everything that comes with video, photography and Web Development.
        Here are some videos  I have uploaded on youtube</Fragment>
    </Pagetitle>
    <main>

      <div style="display: flex; justify-content: center;">  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WCp5NzhWMng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
          
          <div style="display: flex; justify-content: center;">  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XK0JLOgurzM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
          <div style="display: flex; justify-content: center;">  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/5kZnb6wJFK8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
          <div style="display: flex; justify-content: center;">  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/qCGMoxlKJbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
          <div style="display: flex; justify-content: center;">  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/I-iCP-x30r4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
          <div style="display: flex; justify-content: center;">  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/NWVwbm_iQbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
          <div style="display: flex; justify-content: center;">  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/M8uo5_e4PBM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
          <div style="display: flex; justify-content: center;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/OfdQ16mpoLE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
          
          
          <div style="display: flex; justify-content: center;">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/qrsjusdZT34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
          
          <div style="display: flex; justify-content: center;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/d_SXk80KSsM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
          <div style="display: flex; justify-content: center;">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/cnXmhYlKGFg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
          
           
          
          
        

        <style>

iframe {
    border-radius: 5%; 
    padding: 10px;
    margin: 10px;
}

        </style>


      


    </main>
  </Container>
</Layout>



